.login {
  min-height: 37rem;
}

.bannerLogin {
  height: 100%;
}

.planes {
  max-width: 12%;
  left: 450px;
  transform: rotate(-0.05turn);
  top: 10px;
  height: auto;
  z-index: 1;
  filter: drop-shadow(0 0 10px rgba(35, 35, 35, 0.197));
}

.LoginBoyBanner {
  max-width: 80%;
  height: auto;
}
