.check__icon {
  background-color: var(--accent-lime-color);
  color: var(--text-black);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
