.header {
  box-shadow: 0 8px 16px rgba(136, 146, 176, 0.8);
  background-color: var(--background-white);
}

.header__hidden-menu__container {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  z-index: 5;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.header__hidden-menu__container.active {
  transform: translateX(0);
}
